body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(14, 14, 15);
    height: 100%;
      
}

.wrapper{
    background-color: rgb(75, 136, 146);
    width: 250px;
    align-items: center;
    padding-bottom: 10px;

}
.header{
    text-align: center;
    margin-top: 20px;
}
.inputbox{
    margin-left: 35px;
    
}

.buttons1{
    align-items: center;
    margin-left: 75px;
}
a{
    text-decoration: none;
    color: black;
}